.alert{
  position: absolute;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  transition: 0.5s;
  transform: translateY(30px);
  opacity: 0;
  padding: 5px;
  background-color: gray;
}
.geser{
  transform: translateY(10px);
  opacity: 100;
}
.opr:hover{
  color: red;
}
